* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red: #d52941;
  --dark: #2b303a;
  --green: #29c2b0;
  --purp: #9e29c2;
  --grey: #585858;
}

.overlay-form {
  position: fixed; /* Sit on top of the page content */
  display: none;
  /*Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.overlay-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -50%);
  background-color: var(--grey);
  padding: 40px 30px;
  border-radius: 10px;
  z-index: 2;
}

.overlay_btn {
  position: fixed;
  top: 87%;
  left: 80%;
  transform: scale(0.7);
  filter: drop-shadow(5px 8px 4px rgba(110, 110, 110, 0.25));
  background-color: white;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.overlay_submit {
  background-color: var(--green);
}

.dark-mode {
  background-color: var(--dark);
  color: white;
}

html {
  font-family: "Raleway", sans-serif, "Courier New", Courier, monospace;
  color: var(--dark);
}

.container {
  max-width: 828px;
  width: 92%;
  margin: 62px auto;
  position: relative;
}
.logo-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-direction: column;
}

header h1 {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 33px;
}

.forms {
  margin-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 3px;
}

.form input {
  padding: 7px 0;
  border: 2px solid rgba(128, 128, 128, 0.281);
  border-radius: 4px;
  margin-bottom: 17px;
}

.form input:focus {
  outline: none;
}

.btn {
  color: white;
  padding: 5px 15px;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn:focus {
  outline: none;
}

.submit_btn {
  background-color: var(--green);
}
.delete_btn {
  background-color: var(--red);
  transition: all 0.2s ease-in-out;
}

.read_btn {
  background-color: var(--grey);
  transition: background-color 0.2s ease-in-out;
}

.hasRead {
  background-color: var(--purp);
}

.sub-header {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.61);
  display: flex;
}

.sub-header p {
  margin-right: 15%;
  font-weight: 500;
  font-size: 20px;
}
.book {
  border-bottom: 1px solid rgba(128, 128, 128, 0.61);
  padding: 30px 0;

  display: flex;
  align-items: flex-start;
  margin-right: 30px;
  justify-content: space-between;

  width: 100%;
}
.book * {
  max-width: 80px;
}

.book p {
  overflow-wrap: break-word;
}

@media screen and (min-width: 768px) {
  .overlay_btn {
    position: fixed;
    top: 88%;
    left: 75%;
    transform: scale(1);
  }

  header h1 {
    margin-bottom: 0px;
  }

  .logo-container {
    flex-direction: row;
  }
  .forms {
    display: flex;
    align-items: center;
    position: relative;
  }
  .form {
    min-width: 260px;
    margin-right: 20px;
  }

  .sub-header p {
    margin-right: 20%;
  }
  .book {
    display: block;
    width: 100%;
  }
  .book * {
    display: inline-block;
    max-width: 100%;
  }
  .book p {
    min-width: 200px;
  }

  .book button {
    margin-left: 40px;
  }
  .submit_btn {
    position: absolute;
    top: 80px;
  }

  .sub-header {
    margin-top: 70px;
  }
  .btn {
    padding: 7px 20px;
  }
}
