* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --red: #d52941;
  --dark: #2b303a;
  --green: #25d2bf;
  --grey: #585858;
}

html {
  font-family: "Raleway", sans-serif, "Courier New", Courier, monospace;
  color: var(--dark);
}

.container {
  max-width: 828px;
  width: 92%;
  margin: 62px auto;
}

header h1 {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 33px;
}

.forms {
  margin-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 3px;
}

.form input {
  padding: 7px 0;
  border: 2px solid rgba(128, 128, 128, 0.281);
  border-radius: 4px;
  margin-bottom: 17px;
}

.form input:focus {
  outline: none;
}

.btn {
  color: white;
  padding: 8px 20px;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn:focus {
  outline: none;
}

.submit_btn {
  background-color: var(--green);
}
.delete_btn {
  background-color: var(--red);
}
.read_btn {
  background-color: var(--grey);
}

.sub-header {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.61);
  display: flex;
}

.sub-header p {
  margin-right: 15%;
  font-weight: 500;
  font-size: 20px;
}
.book {
  border-bottom: 1px solid rgba(128, 128, 128, 0.61);
  padding: 30px 0;
  display: flex;
  align-items: flex-start;
  margin-right: 30px;
  justify-content: space-between;
}
.book * {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .forms {
    display: flex;
    align-items: center;
  }
  .form {
    min-width: 260px;
    margin-right: 20px;
  }

  .sub-header p {
    margin-right: 20%;
  }
  .book {
    display: block;
    width: 100%;
  }
  .book * {
    display: inline-block;
  }
  .book p {
    min-width: 200px;
  }

  .book button {
    margin-left: 40px;
  }
  .submit_btn {
    position: absolute;
    top: 225px;
  }

  .sub-header {
    margin-top: 70px;
  }
}
